# PLUGIN_TITLE [![Build Status][ci-img]][ci]

[PostCSS] plugin PostCSS plugin that swaps out CSS urls for Rails asset helpers..

[PostCSS]: https://github.com/postcss/postcss
[ci-img]:  https://travis-ci.org/ryanbahniuk/postcss-rails-asset-urls.svg
[ci]:      https://travis-ci.org/ryanbahniuk/postcss-rails-asset-urls

```css
.foo {
    /* Input example */
}
```

```css
.foo {
  /* Output example */
}
```

## Usage

```js
postcss([ require('postcss-rails-asset-urls') ])
```

See [PostCSS] docs for examples for your environment.
